@model QuizMaster.ViewModels.QuizResultViewModel

<h1 class="display-4 mb-4">Quiz Completed!</h1>
<p class="mb-0"><span class="fw-bolder">Name:</span> @Model.Name</p>
<p class="mb-0"><span class="fw-bold">Your Score:</span> @Model.Score / @Model.TotalQuestions</p>
<p class="mb-0"><span class="fw-bold">Percent:</span> @Model.Percentage.ToString("F1") %</p>
<p class="mb-0"><span class="fw-bold">Your Points:</span> @Model.Points</p>
<p class="mb-2">
    <span class="fw-bold">Time Spent:</span>
    @{
        var minutes = Model.TotalSeconds / 60;
        var seconds = Model.TotalSeconds % 60;
    }
    @minutes min @seconds sec
</p>

@if (@ViewBag.Qualification == "NewHighScore") {
    <div class="d-flex justify-content-between align-items-center alert alert-success fw-bold shadow" role="alert">
        <div class="align-self-center">Congratulations! You achieved a <span class="text-decoration-underline">New High Score!</span></div>
        <div><a href="/LeaderBoard/Index" class="shadow rounded-pill btn btn-light fw-bold">Leaderboard</a></div>
    </div>
}
else if (@ViewBag.Qualification == "Qualified") {
    <div class="d-flex justify-content-between alignt-items-center alert alert-info fw-bold shadow" role="alert">
        <div class="align-self-center">Well done! You have <span class="text-decoration-underline">qualified for the leaderboard.</span></div>
        <div><a href="/LeaderBoard/Index" class="shadow rounded-pill btn btn-light fw-bold">Leaderboard</a></div>
    </div>
}
else
{
    <h4>@Model.Comment</h4>
}

<table class="table result-table shadow mt-4">
    <thead class="table-header">
        <tr>
            <th>No.</th>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@index</td>
                <td>@item.Question</td>
                <td>@item.UserAnswer</td>
                <td>
                    @if (item.IsCorrect)
                    {
                        <img class="result-icon" src = "~/media/images/correct_icon.png" alt = "Correct" class= "me-2" />
                    }
                    else
                    {
                        <img class="result-icon" src="~/media/images/wrong_icon.png" alt="Wrong" class="me-2" />
                    }
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index" class="shadow rounded-pill btn start-quiz-btn mt-3 w-25 fw-bold">Start New Quiz</a>
